@use './variables.scss';

/*GLOBAL SETTINGS*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  cursor: default;
  font-weight: 400;
  color: $white;
  scroll-behavior: smooth;
}

/*BODY*/

body {
  background-color: $background;
  scrollbar-width: 8px;
  scrollbar-base-color: transparent;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  // display: none; /* Remove scrollbar for Chrome, Safari, and Opera */
  width: 8px;
  background: transparent;
  border-radius: 10px;

  &:hover {
    background: variables.$backgroundDarker;
  }
}

body::-webkit-scrollbar-thumb {
  background: variables.$violetDark;
  border-radius: 10px;
}

///////////////////////////////////////////
///////App Container Styles and Queries////
///////////////////////////////////////////

.appContainer {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .appContainer {
    max-width: 790px;
  }
}

@media screen and (min-width: 1024px) {
  .appContainer {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1366px) {
  .appContainer {
    max-width: 1366px;
  }
}
