@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tapColor-none {
    -webkit-tap-highlight-color: transparent;
  }
  .text-vertical {
    text-orientation: upright;
    writing-mode: vertical-rl;
  }
}

/*GLOBAL SETTINGS*/

body {
  scrollbar-width: 10px;
  scrollbar-base-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
  /* display: none; Remove scrollbar for Chrome, Safari, and Opera */
  width: 10px;
  background: #d4d4d4;
}

body::-webkit-scrollbar-thumb {
  background: #525252;
}

button:focus {
  outline: none;
}
