---
//Components Imports
import Container from '@/components/common/Container.astro';
import SkillsContainer from '@/components/about/SkillsContainer.jsx';
---

<Container>
  <section
    id="about"
    class="flex flex-col md:flex-row md:items-start items-center justify-center pb-32 gap-16"
  >
    <h2
      class="font-normal text-3xl mb-6 md:mb-0 w-min text-right text-neutral-200 leading-none tracking-tighter mr-auto"
    >
      about me
    </h2>

    <div class="flex flex-col gap-10 items-start justify-center">
      <div class="">
        <h3 class="font-normal text-neutral-400">
          Hello! I'm Francisco, industrial engineer and web developer based in
          Buenos Aires, Argentina, mainly specializing in React stack and Astro
          Framework.
          <br /><br />
          Passionate about coding, building and creating beautiful user experiences.
          I’m a well-organized person with great interpersonal skills, high attention
          to detail and a great enthusiasm for problem solving.
          <br /><br />
          I’m always open to discussing new work or partnership opportunities.
        </h3>
      </div>
      <SkillsContainer client:idle />
    </div>
  </section>
</Container>
