@use '../../styles/variables.scss';

.about {
  @include variables.section;
}

//////////////////////////
///////TITLE STYLING/////
////////////////////////

.titleContainer {
  @include variables.titleContainer;
}

.title {
  @include variables.title;
}

//////////////////////////
///////INFO STYLING/////
////////////////////////

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 2rem 0;

  @include variables.size(tablet) {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  @include variables.size(laptop) {
    gap: 4rem;
  }
}

.imgContainer {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  @include variables.size(tablet) {
    min-width: 13rem;
    min-height: 13rem;
    margin-bottom: 0rem;
    flex-grow: 0;
  }

  @include variables.size(laptop) {
    min-width: 15rem;
    min-height: 15rem;
    margin-bottom: 0rem;
    flex-grow: 0;
  }
}

.profileImg {
  width: 100%;
  transform: translateY(15px);

  @include variables.size(tablet) {
    transform: translateY(15px);
  }

  @include variables.size(laptop) {
    transform: translateY(20px);
  }
}

.infoPersonal {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  word-break: break-word;
  text-rendering: optimizeLegibility;

  @include variables.size(tablet) {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  @include variables.size(laptop) {
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
  }

  @include variables.size(desktop) {
    font-size: 1.1rem;
  }

  &Text {
    margin-bottom: 1rem;
    color: variables.$aboutText;
    &Higlight {
      background-color: variables.$violet;
      padding: 0 0.1rem;
    }
  }
}

//////////////////////////
///////SKILLSSTYLING/////
////////////////////////

.skillsContainer {
  width: 100%;
  margin-top: 2rem;
}

.skillSet {
  margin-bottom: 2rem;
}

.skillSetTitle {
  color: variables.$skillSetTitle;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 3px;
  text-transform: capitalize;

  @include variables.size(laptop) {
    font-size: 1.2rem;
  }
}

.skillSetContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include variables.size(laptop) {
    gap: 0.5rem;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
  position: relative;
  margin-right: 1rem;

  &Icon {
    width: 2.5rem;
    filter: invert(61%) sepia(63%) saturate(465%) hue-rotate(103deg)
      brightness(85%) contrast(89%);
  }

  &Name {
    font-size: 0.6rem;
    text-transform: capitalize;
    margin-top: 0.4rem;
    color: variables.$white;
    letter-spacing: 1px;
    background: variables.$skillName;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    position: absolute;
    top: -110%;
    font-weight: 700;
    opacity: 0;
    transition: variables.$shortTransition;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: variables.$skillName transparent transparent transparent;
      transform: translateX(-50%);
    }
  }

  @include variables.size(laptop) {
    margin-top: 1rem;
    &Icon {
      width: 2.8rem;
    }
    &Name {
      font-size: 0.8rem;
    }
  }

  @include variables.size(desktop) {
    &Icon {
      width: 3rem;
    }
  }
}

.skillIcon:hover + .skillName {
  opacity: 1;
  transition: variables.$shortTransition;
}
