---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar';
import Header from '../components/header/Header';
import About from '../components/about/About';
import WorkContainer from '../components/work/WorkContainer';
import Contact from '../components/contact/Contact';
import Footer from '../components/footer/Footer';
---

<Layout title="Francisco Guerrero | Frontend Developer">
  <main class="appContainer">
    <Navbar />
    <Header />
    <About />
    <WorkContainer />
    <Contact />
  </main>
  <Footer />
</Layout>
