---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar/Navbar';
import Header from '../components/header/Header';
import About from '../components/about/About';
import WorkContainer from '../components/work/WorkContainer';
import Contact from '../components/contact/Contact';
import Footer from '../components/footer/Footer';
import ScrollBtn from '../components/scrollBtn/ScrollBtn';
---

<Layout title="Francisco Guerrero | Frontend Developer">
  <section class="appContainer">
    <Navbar client:visible />
    <Header client:visible />
    <About />
    <WorkContainer />
    <Contact client:visible />
    <Footer />
  </section>
  <ScrollBtn client:idle />
</Layout>
