---
//Components Imports
import Container from '@/components/common/Container';
import MailBtn from '@/components/common/MailBtn';
---

<Container>
  <section
    id="contact"
    class="flex flex-col items-center justify-center py-32 sm:py-32 gap-8"
  >
    <h2
      class="font-normal text-3xl mb-6 lg:w-min text-right text-neutral-200 leading-none tracking-tighter mr-auto"
    >
      contact me
    </h2>
    <div class="flex flex-col justify-center items-center gap-8">
      <h3 class="lg:text-neutral-300 text-neutral-400 text-lg text-center">
        Interested in working together? <br />
        <strong>Let's Connect.</strong>
      </h3>
      <MailBtn />
      <div class="flex flex-row gap-10 justify-center items-start">
        <a
          class="lg:text-neutral-300 text-neutral-400 uppercase font-light text-sm tracking-tight underline underline-offset-4"
          target="_blank"
          href="https://twitter.com/frnguerrero"
        >
          Twitter
        </a>
        <a
          class="lg:text-neutral-300 text-neutral-400 uppercase font-light text-sm tracking-tight underline underline-offset-4"
          target="_blank"
          href="https://www.linkedin.com/in/juan-francisco-guerrero-16143849/?locale=en_US"
        >
          Linkedin
        </a>
        <a
          class="lg:text-neutral-300 text-neutral-400 uppercase font-light text-sm tracking-tight underline underline-offset-4"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Github
        </a>
      </div>
    </div>
  </section>
</Container>
