@use '../../styles/variables.scss';

.header {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;

  @include variables.size(tablet) {
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  @include variables.size(laptop) {
    position: relative;
  }
}

.logo {
  display: none;

  @include variables.size(tablet) {
    translate: (0 -4rem);
    display: block;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 13rem;
    color: variables.$violet;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(
      90deg,
      variables.$violet 19%,
      transparent 19%,
      transparent 21%,
      variables.$violetDark 21%,
      variables.$violetDark 45%,
      transparent 45%,
      transparent 46%,
      variables.$violet 46%,
      variables.$violet 55%,
      transparent 55%,
      transparent 57%,
      variables.$violet 57%,
      variables.$violet 70%,
      transparent 70%,
      transparent 72%,
      variables.$violetDark 72%,
      variables.$violetDark 83%,
      transparent 83%,
      transparent 88%,
      variables.$violet 88%
    );
    // animation: logoBackground 3s linear normal;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @include variables.size(laptop) {
    font-size: 15.5rem;
  }

  @include variables.size(desktop) {
    font-size: 19rem;
  }
}

.title {
  font-weight: 800;
  font-size: 2.6rem;
  letter-spacing: -1.2px;
  line-height: 2.4rem;

  &Highlight {
    @extend .title;
    color: variables.$titleHighlight;
  }
  &HighlightViolet {
    @extend .title;
    color: variables.$violet;
  }

  @include variables.size(tablet) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  @include variables.size(laptop) {
    font-size: 4.2rem;
    line-height: 4rem;
  }

  @include variables.size(desktop) {
    font-size: 5.8rem;
    line-height: 5.3rem;
  }
}

.socials {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
}

.moreLink {
  width: 3rem;
  margin-top: 6rem;
  display: none;

  @include variables.size(laptop) {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    cursor: pointer;
  }
}

.moreIcon {
  width: 100%;
  animation: focus 1.5s infinite;
  &:hover {
    cursor: pointer;
  }
}

// //Animations

@keyframes focus {
  0% {
    filter: opacity(1);
  }
  25% {
    filter: opacity(1);
  }
  45% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(1);
    transform: translateY(-10px);
  }
  65% {
    filter: opacity(1);
  }

  75% {
    filter: opacity(1);
  }
  90% {
    filter: opacity(1);
  }
}

// @keyframes logoBackground {
//   0% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet,
//       variables.$violet 100%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }

//   20% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet 19%,
//       transparent 19%,
//       transparent 21%,
//       variables.$violet 21%,
//       variables.$violet 100%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }

//   40% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet 19%,
//       transparent 19%,
//       transparent 21%,
//       variables.$violetDark 21%,
//       variables.$violetDark 45%,
//       transparent 45%,
//       transparent 46%,
//       variables.$violet 46%,
//       variables.$violet 100%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }

//   60% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet 19%,
//       transparent 19%,
//       transparent 21%,
//       variables.$violetDark 21%,
//       variables.$violetDark 45%,
//       transparent 45%,
//       transparent 46%,
//       variables.$violet 46%,
//       variables.$violet 55%,
//       transparent 55%,
//       transparent 57%,
//       variables.$violet 57%,
//       variables.$violet 100%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }
//   80% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet 19%,
//       transparent 19%,
//       transparent 21%,
//       variables.$violetDark 21%,
//       variables.$violetDark 45%,
//       transparent 45%,
//       transparent 46%,
//       variables.$violet 46%,
//       variables.$violet 55%,
//       transparent 55%,
//       transparent 57%,
//       variables.$violet 57%,
//       variables.$violet 70%,
//       transparent 70%,
//       transparent 72%,
//       variables.$violet 70%,
//       variables.$violet 100%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }
//   100% {
//     background: linear-gradient(
//       90deg,
//       variables.$violet 19%,
//       transparent 19%,
//       transparent 21%,
//       variables.$violetDark 21%,
//       variables.$violetDark 45%,
//       transparent 45%,
//       transparent 46%,
//       variables.$violet 46%,
//       variables.$violet 55%,
//       transparent 55%,
//       transparent 57%,
//       variables.$violet 57%,
//       variables.$violet 70%,
//       transparent 70%,
//       transparent 72%,
//       variables.$violetDark 72%,
//       variables.$violetDark 83%,
//       transparent 83%,
//       transparent 88%,
//       variables.$violet 88%
//     );
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//   }
// }
