---
//Component Imports
import MailBtn from '../components/common/MailBtn';
import SocialList from '../components/common/SocialList';
import ReactIcon from '../assets/icons/ReactIcon';
import Container from '@/components/common/Container.astro';
---

<Container>
  <header
    class="h-[100svh] flex-col items-start flex justify-center bg-transparent md:flex-row md:items-center md:justify-between gap-4 lg:relative"
  >
    <div class="@container w-full gap-8 flex flex-col lg:flex-row lg:items-end">
      <div class="flex flex-col justify-center w-full items-start">
        <h2
          class="text-neutral-200 font-normal leading-none tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,4.2rem)] @[77rem]:text-[5.5rem]"
        >
          I'm Francisco.
        </h2>
        <h2
          class="text-neutral-200 font-normal leading-none tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,4.2rem)] @[77rem]:text-[5.5rem]"
        >
          Web Developer.
        </h2>
      </div>
      <h3
        class="text-neutral-400 font-light tracking-tighter leading-normal pb-[8px] text-right w-full @[1rem]:[font-size:clamp(1rem_,4cqw_,1.1rem)]"
      >
        Buenos Aires based developer. <br />
        Specialized in React stack and Astro framework.
      </h3>
    </div>
    <a class="absolute bottom-8 inset-x-0 cursor-pointer mx-auto" href="#about">
      <ReactIcon
        icon="chevronDown"
        className="w-12 h-12 animate-bounce mx-auto"
      />
    </a>
  </header>
</Container>
