---
//Component Imports
import MailBtn from '../components/common/MailBtn';
import SocialList from '../components/common/SocialList';
import ReactIcon from '../assets/icons/ReactIcon';
import Container from '@/components/common/Container.astro';
---

<Container>
  <header
    class="relative h-[100svh] flex-col items-start flex justify-center bg-transparent md:flex-row md:items-center md:justify-between gap-4 lg:relative"
  >
    <div class="@container w-full gap-8 flex flex-col lg:flex-row lg:items-end">
      <div class="flex flex-col justify-center w-full items-start">
        <h2
          class="text-neutral-200 font-normal leading-none tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,4.2rem)] @[77rem]:text-[5.5rem]"
        >
          I'm Francisco.
        </h2>
        <h2
          class="text-neutral-200 font-normal leading-none tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,4.2rem)] @[77rem]:text-[5.5rem]"
        >
          Web Developer.
        </h2>
      </div>
      <h3
        class="text-neutral-400 font-light tracking-tighter leading-normal pb-[8px] text-right w-full @[1rem]:[font-size:clamp(1rem_,4cqw_,1.1rem)]"
      >
        Buenos Aires based developer. <br />
        Specialized in React stack and Astro framework.
      </h3>
    </div>
    <div class="absolute bottom-14 flex justify-between w-full items-end">
      <div class="flex flex-col gap-5 justify-center items-start">
        <a
          class="text-neutral-400 uppercase font-light text-xs tracking-tight underline underline-offset-2"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Twitter
        </a>
        <a
          class="text-neutral-400 uppercase font-light text-xs tracking-tight underline underline-offset-2"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Linkedin
        </a>
        <a
          class="text-neutral-400 uppercase font-light text-xs tracking-tight underline underline-offset-2"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Github
        </a>
      </div>
      <div
        class="flex rotate-90 origin-top-right translate-y-[100%] justify-center items-center gap-1"
      >
        <h4 class="uppercase tracking-[4px] text-xs text-violet-800">scroll</h4>
        <div class="h-[1px] bg-violet-800 w-[12svh]"></div>
      </div>
    </div>
  </header>
</Container>
