---
//Component Imports
import Container from '@/components/common/Container.astro';
import ReactIcon from '@/assets/icons/ReactIcon';
---

<Container>
  <header class="h-[100svh] flex items-center">
    <div class="@container w-full gap-6 lg:gap-8 flex flex-col items-center">
      <h2
        class="text-neutral-200 font-normal md:text-center leading-none w-full tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,3.5rem)]"
      >
        Hi, I'm Francisco.
      </h2>

      <h3
        class="text-neutral-400 tracking-tighter md:text-center leading-normal w-full @[1rem]:[font-size:clamp(1.rem_,4cqw_,1.3rem)]"
      >
        Buenos Aires based engineer & developer. <br />
        Specialized in React stack and Astro framework.
      </h3>
      <div
        class="flex mt-6 gap-8 flex-wrap w-full justify-start md:justify-center items-center"
      >
        <a
          aria-label="Link to my twitter profile"
          class="text-neutral-400 lg:hover:text-neutral-200 transition-all ease-in-out"
          target="_blank"
          href="https://twitter.com/frnguerrero"
        >
          <ReactIcon icon="twitter" className="w-6 h-6" />
        </a>
        <a
          aria-label="Link to my linkedin profile"
          class="text-neutral-400 lg:hover:text-neutral-200 transition-all ease-in-out"
          target="_blank"
          href="https://www.linkedin.com/in/juan-francisco-guerrero-16143849/?locale=en_US"
        >
          <ReactIcon icon="linkedin" className="w-6 h-6" />
        </a>
        <a
          aria-label="Link to my github profile"
          class="text-neutral-400 lg:hover:text-neutral-200 transition-all ease-in-out"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          <ReactIcon icon="github" className="w-6 h-6" />
        </a>
        <a
          id="emailLink"
          aria-label="Link to send me an email"
          class="text-neutral-400 lg:hover:text-neutral-200 transition-all ease-in-out"
          target="_blank"
          href="mailto:fr?ncisco.guerrero.d??vATgmailDOTcom"
        >
          <ReactIcon icon="email" className="w-6 h-6" />
        </a>
      </div>
    </div>
  </header>
</Container>

<script>
  const emailLink = document.getElementById('email-link');

  const decode = (str: string) =>
    str
      .replace('AT', '@')
      .replace('?', 'a')
      .replace('DOT', '.')
      .replace('??', 'e');

  emailLink.addEventListener('click', (e) => {
    e.preventDefault();
    window.location.href = `mailto:${decode(emailLink.getAttribute('href'))}`;
    console.log(decode(emailLink.getAttribute('href')));
  });
</script>
