---
//Component Imports
import Container from '@/components/common/Container.astro';
---

<Container>
  <header class="relative h-[100svh] flex items-center">
    <div
      class="@container w-full gap-8 flex flex-col lg:flex-row lg:items-end row-start-2"
    >
      <div class="flex flex-col justify-center w-full items-start">
        <h2
          class="text-neutral-50 font-normal w-max leading-none tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,3rem)]"
        >
          Hi, I'm Francisco.
        </h2>
      </div>
      <h3
        class="text-neutral-400 tracking-tighter leading-normal pb-[8px] w-full @[1rem]:[font-size:clamp(1.1rem_,4cqw_,1.5rem)]"
      >
        Buenos Aires based engineer & developer. <br />
        Specialized in React stack and Astro framework.
      </h3>
      <div
        class="flex mt-6 gap-6 flex-wrap justify-start lg:justify-center items-center"
      >
        <a
          class="text-neutral-500 lowercase [text-decoration-thickness:1px] underline underline-offset-[6px] lg:hover:underline-offset-8 transition-all ease-in-out"
          target="_blank"
          href="https://twitter.com/frnguerrero"
        >
          Twitter
        </a>
        <a
          class="text-neutral-500 lowercase [text-decoration-thickness:1px] underline underline-offset-[6px] lg:hover:underline-offset-8 transition-all ease-in-out"
          target="_blank"
          href="https://www.linkedin.com/in/juan-francisco-guerrero-16143849/?locale=en_US"
        >
          Linkedin
        </a>
        <a
          class="text-neutral-500 lowercase underline [text-decoration-thickness:1px] underline-offset-[6px] lg:hover:underline-offset-8 transition-all ease-in-out"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Github
        </a>
        <a
          class="text-neutral-500 lowercase underline [text-decoration-thickness:1px] underline-offset-[6px] lg:hover:underline-offset-8 transition-all ease-in-out"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          email
        </a>
      </div>
    </div>
  </header>
</Container>
