---
//Component Imports
import Container from '@/components/common/Container.astro';
---

<Container>
  <header class="h-[100svh] flex items-center">
    <div class="@container w-full gap-8 flex flex-col items-center">
      <h2
        class="text-neutral-50 font-normal md:text-center leading-none w-full tracking-tighter @[1rem]:[font-size:clamp(1rem_,14cqw_,3.5rem)]"
      >
        Hi, I'm Francisco.
      </h2>

      <h3
        class="text-neutral-400 tracking-tighter md:text-center leading-normal pb-[8px] w-full @[1rem]:[font-size:clamp(1.rem_,4cqw_,1.3rem)]"
      >
        Buenos Aires based engineer & developer. <br />
        Specialized in React stack and Astro framework.
      </h3>
      <div
        class="flex mt-6 gap-6 flex-wrap w-full justify-start md:justify-center items-center"
      >
        <a
          class="text-neutral-500 lowercase [text-decoration-thickness:1px] underline underline-offset-[6px] lg:hover:underline-offset-[10px] transition-all ease-in-out"
          target="_blank"
          href="https://twitter.com/frnguerrero"
        >
          Twitter
        </a>
        <a
          class="text-neutral-500 lowercase [text-decoration-thickness:1px] underline underline-offset-[6px] lg:hover:underline-offset-[10px] transition-all ease-in-out"
          target="_blank"
          href="https://www.linkedin.com/in/juan-francisco-guerrero-16143849/?locale=en_US"
        >
          Linkedin
        </a>
        <a
          class="text-neutral-500 lowercase underline [text-decoration-thickness:1px] underline-offset-[6px] lg:hover:underline-offset-[10px] transition-all ease-in-out"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          Github
        </a>
        <a
          class="text-neutral-500 lowercase underline [text-decoration-thickness:1px] underline-offset-[6px] lg:hover:underline-offset-[10px] transition-all ease-in-out"
          target="_blank"
          href="https://github.com/efeguerrero"
        >
          email
        </a>
      </div>
    </div>
  </header>
</Container>
