@use '../../styles/variables.scss';

.footer {
  // background-color: variables.$backgroundDarker;
  padding: 1rem;
  text-align: center;
}

.text {
  font-size: 0.9rem;
  color: variables.$footerText;
}
