@use '../../styles/variables.scss';

.mailBtn {
  background: transparent;
  color: variables.$mailBtn;
  border: 1px solid variables.$mailBtn;
  text-transform: capitalize;
  width: max-content;
  padding: 0.7rem 3.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  transition: variables.$shortTransition;
  text-decoration: none;

  @include variables.size(tablet) {
    font-size: 1.4rem;
    display: block;

    @include variables.size(laptop) {
      font-size: 1.5rem;
    }

    @include variables.size(desktop) {
      font-size: 1.6rem;
    }

    &:hover {
      cursor: pointer;
      color: variables.$white;
      transition: variables.$shortTransition;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      content: '';
      background: variables.$green;
      transition: variables.$shortTransition;
    }

    &:hover:after {
      width: 100%;
      transition: variables.$shortTransition;
    }
  }
}
