@use '../../styles/variables.scss';

/////////////////////
////Default Style///
///////////////////

.socialList {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 1.1rem;
  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include variables.size(tablet) {
    gap: 1.2rem;
  }

  &Icons {
    cursor: pointer;
    width: 2.5rem;
    filter: invert(58%) sepia(15%) saturate(1648%) hue-rotate(103deg)
      brightness(99%) contrast(95%);

    @include variables.size(tablet) {
      width: 2.6rem;
      transition: variables.$shortTransition;

      &:hover {
        transition: variables.$shortTransition;
        filter: invert(58%) sepia(15%) saturate(1648%) hue-rotate(103deg)
          brightness(115%) contrast(95%);
      }
    }
    @include variables.size(laptop) {
      width: 2.9rem;
    }

    @include variables.size(desktop) {
      width: 3rem;
    }
  }
}

///////////////////////
////Extended Styles////
///////////////////////

///Header Styles//

.socialList_header {
  @extend .socialList;
  justify-content: flex-end;
  margin-top: 3rem;
  padding: 0 2rem;
  padding-bottom: 1rem;
  gap: 1.1rem;
  width: auto;

  @include variables.size(tablet) {
    margin-top: 0rem;
    padding: 0 1rem;
    gap: 0.8rem;
  }

  // @include variables.size(laptop) {
  //   gap: 1rem;
  // }
}

.socialListLink_header {
  @extend .socialListLink;
}

.socialListIcons_header {
  cursor: pointer;
  width: 2rem;
  filter: invert(100%) sepia(35%) saturate(350%) hue-rotate(37deg)
    brightness(105%) contrast(101%);
  transition: none;

  @include variables.size(tablet) {
    width: 1.7rem;
    transition: none;
    &:hover {
      filter: invert(58%) sepia(15%) saturate(1648%) hue-rotate(103deg)
        brightness(99%) contrast(95%);
    }
  }
}
