---
export interface Props {
  title: string;
}

const { title } = Astro.props;

// // Global StyleSheet Import
import '@/styles/global.css';

//Component Import
import Nav from '@/components/nav/Nav';
import Footer from '@/components/footer/Footer';

//Image imports
import background from '@/assets/shapes/linesBackground.svg';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:description" content="Hi,I'm Francisco.Web developer." />
    <meta
      content="https://portfolio-fg.netlify.app/android192.png"
      property="og:image"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/logo192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/logo512.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Meta Tags -->

    <meta
      name="description"
      content="Personal portfolio website for Web Developer Francisco Guerrero"
    />
    <meta
      name="keywords"
      content="frontend,react,astro,javascript,developer,website,development,html,coding,front,end,css,webpage"
    />

    <meta name="author" content="Francisco Guerrero" />
    <meta name="revisit-after" content="35 Days" />
    <meta name="GOOGLEBOT" content="index,follow,all" />
    <meta name="ROBOTS" content="INDEX,FOLLOW" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="language" content="English" />
    <meta name="distribution" content="Global" />
    <!--Meta Tags -->

    <!-- Google Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts Import -->
  </head>
  <body class="bg-neutral-800 font-inter">
    <section
      class="bg-[url('/linesBackground.svg')] bg-no-repeat bg-fixed bg-[length:auto_100lvh] md:bg-cover lg:bg-bottom h-full w-full"
    >
      <Nav client:visible />
      <slot />
    </section>
  </body>
</html>
